.header{
    background-color:rgba(226, 245, 228, 0.87)!important;
    text-align: left;
}
.nav-logo{
    width: 150px;
    padding-left: 15%;
}
.banner-font{
    color: green;
}
.banner-paragraph{
    color: red;
}
.navbar{
    position: relative;
    
    background-color: rgba(226, 245, 228, 0.87)!important;
}
.banner-bg-color{
    background-color: rgba(226, 245, 228, 0.87);
}
.sign-in-button{
    background-color: #21B573;
    width: 100px;
    height: 40px;
    border-radius: 33px;
    border: none;
    color: white;
}
.course-button{
    font-size: small;
    padding: 5px 20px;
    border: none;
    color: white;
    border-radius: 20px;
    background-color: #21B573;
}
.row-banner{
    padding: 8%;
}
.nav-box{
    position: absolute;
    width: 1440px;
    height: 576px;
    left: 0px;
    top: 0px;
    background-color: #bde4bd;
}
.green-bg:hover{
    background-color: white;
}
.green-bg{
    background-color: #F8FFFB;
}
.card-title{
    font-size: 20px;
}
.card{
    padding: 20px;
    border-style: none;
    border-radius: 18px;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.1);
}
.testimonial-1{
    border-top-style: groove;
    border-top-width: 5px;
    border-top-color:  cyan;
}
.testimonial-2{
    border-top-style: groove;
    border-top-width: 5px;
    border-top-color:  purple;
}
.testimonial-3{
    border-top-style: groove;
    border-top-width: 5px;
    border-top-color:  greenyellow;
}
.footer-first-col{
    color: #CDCDCD;
} 

.footer{
    text-align: center;
    padding: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #282531;
    color: white;
}